<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-open-blank" version="0.0.2">
    <name>Open Blank</name>
    <description>Cordova Open Blank Plugin</description>
    <license>Apache 2.0</license>
    <repo>https://github.com/slaptoast/cordova-plugin-openblank.git</repo>
    <keywords>cordova,webview,iframe,blank</keywords>
    <platform name="ios">
      <header-file src="src/ios/CDVIntentAndNavigationFilter+OpenBlank.h" />
      <source-file src="src/ios/CDVIntentAndNavigationFilter+OpenBlank.m" />
    </platform>
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="OpenBlank"> 
                <param name="android-package" value="org.apache.cordova.openblank.OpenBlank"/>
                <param name="onload" value="true" />
            </feature>
        </config-file>
        <source-file src="src/android/OpenBlank.java" target-dir="src/org/apache/cordova/openblank" />
    </platform>
</plugin>
